* {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

nav li {
  list-style: none;
  display: inline-block;
}
nav a {
  color: white;
}
body {
  margin: 12px;
  background-image: url(Bilder/Background2.jpg);
  background-size: cover;
  text-align: center;
}
header {
  background-image: url(Bilder/Header2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  text-align: center;
  color: white;
}
a {
  text-decoration: none;
}
article ul {
  list-style-type: none;
}
#Intressen {
  width: 50%;
  margin: auto;
  color: black;
  background-color: rgba(255, 255, 255, 0.349);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.Innebandy {
  order: 1;
}
.Fotboll {
  order: -5;
}

p {
  width: 50%;
  margin: auto;
  padding: 10px;
}

a:hover {
  background: rgba(135, 207, 235, 0.432);
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
  margin: 15px;
}
footer ul {
  text-align: left;
  list-style: none;
}
a {
  color: white;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

footer ul li {
  padding: 8px;
  margin: 8px;
}
