* {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

nav li {
  list-style: none;
  display: inline-block;
}
nav a {
  color: white;
}
body {
  margin: 12px;
  background-image: url(Bilder/Background2.jpg);
  background-size: cover;
  text-align: center;
}
header {
  background-image: url(Bilder/Header2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  text-align: center;
  color: white;
}
a {
  text-decoration: none;
}
article ul {
  list-style-type: none;
}
#Intressen {
  width: 75%;
  margin: auto;
  color: black;
  background-color: rgba(255, 255, 255, 0.349);
}

#Intressen ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex-direction: row;
}

.innebandy {
  order: 1;
  width: 50%;
}
.fotboll {
  order: 2;
  width: 50%;
}
.innebandy_bild {
  order: 3;
  width: 50%;
}
.fotboll_bild {
  order: 4;
  width: 50%;
}
.hockey {
  order: 5;
  width: 50%;
}
.tränare {
  order: 6;
  width: 50%;
}
.hockey_bild {
  order: 7;
  width: 50%;
}
.Janne {
  order: 8;
  width: 50%;
}
#Dad_jokes {
  background-color: rgba(255, 255, 255, 0.349);
  width: 75%;
  margin: auto;
  color: black;
}
#Dad_jokes p {
  width: 100%;
}

#Dad_jokes ul {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
#Dad_jokes li {
  background-color: rgba(252, 184, 36, 0.562);
}
#Dad_jokes a {
  color: black;
}

p {
  width: 50%;
  margin: auto;
  padding: 10px;
}

a:hover {
  background: rgba(135, 207, 235, 0.432);
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
  margin: 15px;
}
footer a {
  color: white;
}
footer ul {
  text-align: left;
  list-style: none;
}

footer ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

footer ul li {
  padding: 8px;
  margin: 8px;
}
.half_width {
  width: 50%;
}
.sk1 {
  width: 50%;
}
.sk2 {
  width: 50%;
}
